<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <!-- Website Icon -->
    <link rel="icon" href="images/website_icon.png">

    <!-- Website Title -->
    <title>Donation</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/styles/css/donation.css">

    <!-- Font Awesome Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>

  <body>

    <!-- Header Section, or Navigation Bar-->
    <%- include('./header.ejs') %>

    <!-- Introduction Section -->
    <div class="intro_section">

      <p class="intro_heading">HELP US TO CHANGE LIVES</p>
      
      

      <div class="intro_images" style="margin-top:30px;">
        <img src="images/donation_image_2.png" alt="donation_image">
      </div>

      <p class="intro_description">We request you to help and donate online to charity generously to feed the hungry poor oldage persons in elderly home. Your donation helps to make a difference in someone's lives and create hope on their lives. Beneficiaries always expressing sincere gratitude towards your kind generous donations. Donations in the form of money,basic needs are accepted.Kindly donate to our noble cause of the poor old age people in oldagehome.</p>

    </div>

    <!-- Donate Money Section -->
    <div class="money_section">

      <p class="intro_heading">DONATE FINANCIALLY</p>

     


      <form style="text-align:center;margin-top:30px;">
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HEuPMPPtYQxy78" async></script>
         
      </form>

      <p class="intro_description">Get 80G Tax Exemption By Donation:
        - While donating money online to charity through milaap you are eligible to claim tax exemption under section 80G of Income Tax Act, 1961.
        - All Offline / Online Donations are Tax deductible u/s 80G.
        - Seruds India Charity registered under FCRA (Foreign Contribution Regulation Act), eligible to receive donations online from abroad from NRIs, Foreign Nationals. Make a Donation to best Charity in India & help aged people for their daily needs in oldagehome through Milaap.</p>

      

    </div>

    <div class="goods_section">

      <p class="intro_heading">DONATE STUFFS</p>

     

      <div class="intro_images" style="margin-top:30px;">
        <img src="images/donation_image.jpg" alt="donation_image">
      </div>

      <p class="intro_description">Luckily, We can help you deal with just this. We have passionate volunteers who collect donations, and ensure that these reach deserving people. This saves resources, and helps bridge the gap between surplus and shortage. You could also connect with us, and become a volunteer yourself.</p>

      

    </div>


    <!-- Footer Section -->
    <%- include('./footer.ejs') %>
  </body>
</html>
